body{
    background-color: #001A32;
    margin: 100px;
    margin-top: 50px;
}

/* Intro and Nav */
.intro{
    display: flex;
    flex-direction: column;
    height: 500px;
    flex-wrap: wrap;
}
.intro h1{
    font-family: "Lora", Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 150;
    color: #ffffff;
    max-width: 650px;
    height: 50px;
    /*background-color: red;*/
    margin-bottom: 0;
}
.intro h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 100;
    color: #ffffff;
    margin: 0;
    margin-left: 100px;
    padding: 0%;
    max-width: 650px;
    height: 50px;
    /*background-color: aqua;*/

}
.intro p{
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
    max-width: 650px;
}
#navBox{
    display: grid;
    height: 250px;
    width: 300px;
    background-color: #eb8062;
    z-index: 100;
    box-shadow:  47px 47px 15px -46px #994d37, 65px 65px 0px -30px #ebe950;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 30% 30% 40%;
    grid-template-areas:
        "logo logo about"
        "logo logo resume"
        "icon email email"
}
.logo{
    height: 115px;
    width: 100px;
    margin-top: 35px;
    margin-left: 35px;
    grid-area: logo;
}
#navBox button{
    font-family: "Lora", Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 600;
    color: #001A32;
    background-color: #eb8062;
    border: none;
    margin-left: 0px;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: left;
}
#about{
    grid-area: about;
}
#resume{
    grid-area: resume;
}
.icon{
    height: 30px;
    width: 40px;
    margin-left: 25px;
    margin-top: 35px;
    grid-area: icon;
}
#navBox p{
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-top: 37px;
    color: #001A32;
    grid-area: email;
}
/*#smallY{
    height: 250px;
    width: 300px;
    background-color: #ebe950;
    z-index: 0;
    align-self: flex-end;
}